body {
	font-family: 'Roboto Slab', 'Times New Roman', sans-serif;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}

strong {
	font-weight: bold;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

::-webkit-input-placeholder {
    font-family: 'Roboto Slab', Arial, sans-serif;
    color: #9c95a5;
    font-size: 16px;
}
::-moz-placeholder {
    font-family: 'Roboto Slab', Arial, sans-serif;
    color: #9c95a5;
    font-size: 16px;
}
/* Firefox 19+ */

:-moz-placeholder {
    font-family: 'Roboto Slab', Arial, sans-serif;
    color: #9c95a5;
    font-size: 16px;

}
/* Firefox 18- */

:-ms-input-placeholder {
    font-family: 'Roboto Slab', Arial, sans-serif;
    color: #949494;
    font-size: 16px;
}

/* Стилизация Header меню */
.main-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0 16px 0;
}

.menu-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 700px;
	font-size: 14px;
	font-weight: bold;
}

.menu-list li > a {
	text-decoration: none;
	color: #000;
	padding: 8px 10px 8px 10px;
	background-color: transparent;
	border-radius: 5px;
}

.call-to-us {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	color: #2f1059;
}

.call-to-us p {	
	font-size: 21px;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
}

.call-to-us a {	
	font-size: 14px;	
	text-decoration: none;
	margin: 0;
	border: 1px solid #2f1059;
	padding: 10px 12px 10px 12px;
	border-radius: 5px;
	line-height: 17px;
	text-align: center;
	color: #2f1059;
}

.call-to-us a > span {
	margin-right: 8px;
}

/*Стилизация поведения меню*/

.call-to-us a:hover {
	background-color: #2f1059;
	color: #fff;
}

.menu-list a:hover {
	background-color: #f7f2fe;
}

.menu-list a:active {
	background-color: #d7d7d7;
	color: #2f1059;
}

/*Стизизация формы и фона*/

.background-form {
	background: url(../img/cloud.png) no-repeat 50% 35px,
				url(../img/backgroundjpg.jpg) no-repeat;
	background-size: 68%, cover;
	height: 630px;
	padding: 64px 0 0 0;
	background-color: #99c2d6;
}

.background-form h1 {
	font-size: 43px;
	font-weight: bold;
	text-transform: uppercase;
	color: #2f1059;
	margin: 0 auto;
	text-align: center;
	line-height: 43px;
	margin: 0;
}

.background-text {
	font-size: 22px;
	color: #2f1059;
	margin: 0 auto;
	text-align: center;
	line-height: 28px;
	margin: 10px 0 17px 0;
	font-weight: lighter;
}

.text-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-top: 250px;
	position: relative;
	z-index: 2;
}

.form-input-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.text-form h2 {
	text-align: center;
	color: #fff;
	font-size: 24px;
	line-height: 24px;
	margin: 0 auto;
	padding: 0;
}

.number-of-flat {
	font-size: 15px;
	margin: 0 auto;
	padding: 0;
	font-size: 15px;
	line-height: 15px;
	margin-top: 50px;
	color: #7925ec;
}

.number-of-flat span {
	border: 1px solid #7925ec;
	color: #7925ec;
	font-weight: bold;
	padding: 4px 7px;
	border-radius: 4px;
}

.text-for-flat {
	font-size: 17px;
	line-height: 25px;
	color: #fff;
	margin: 0 auto;
	padding: 0;
	margin-top: 8px;
	margin-bottom: 27px;
}

.form-input-flex input {
	width: 200px;
	height: 50px;
	background-color: #e8def5;
	border: 0;
	border-radius: 6px;
	margin-right: 8px;
	padding: 0 5px 0 45px;
}



.form-button {
	background-color: #d22828;
	border: 0;
	border-radius: 6px;
	font-family: inherit;
	font-weight: bold;
	color: #fff;
	padding: 12px 28px 12px 28px;
}

.for-form-position {
	position: relative;
}

.image-form {
	position: absolute;
	top: -290px;
	left: 50%;
	margin-left: -460px;
	z-index: 0;
}

.absolute-icon {
	position: absolute;
	left: 25px;
	color: #9c95a5;
	top: 16px;
}