body {
	font-family: 'Roboto Slab', 'Times New Roman', sans-serif;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

/* Стилизация Header меню */
.main-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0 16px 0;
}

.menu-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 700px;
	font-size: 14px;
	font-weight: bold;
}

.menu-list li > a {
	text-decoration: none;
	color: #000;
	padding: 8px 10px 8px 10px;
	background-color: transparent;
	border-radius: 5px;
}

.call-to-us {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	color: #2f1059;
}

.call-to-us p {	
	font-size: 21px;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
}

.call-to-us a {	
	font-size: 14px;	
	text-decoration: none;
	margin: 0;
	border: 1px solid #2f1059;
	padding: 10px 12px 10px 12px;
	border-radius: 5px;
	line-height: 17px;
	text-align: center;
	color: #2f1059;
}

.call-to-us a > span {
	margin-right: 8px;
}

/*Стилизация поведения меню*/

.call-to-us a:hover {
	background-color: #2f1059;
	color: #fff;
}

.menu-list a:hover {
	background-color: #f7f2fe;
}

.menu-list a:active {
	background-color: #d7d7d7;
	color: #2f1059;
}


