body {
	font-family: 'Roboto Slab', 'Times New Roman', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #fff;
	min-width: 1240px;
}
* {
	box-sizing: border-box;
}

strong {
	font-weight: bold;
}

.container {
	width: 1200px;
	/*width: 75%;*/
	margin: 0px auto;
}

::-webkit-input-placeholder {
    font-family: 'Roboto Slab', Arial, sans-serif;
    color: #9c95a5;
    font-size: 16px;
}
::-moz-placeholder {
    font-family: 'Roboto Slab', Arial, sans-serif;
    color: #9c95a5;
    font-size: 16px;
}
/* Firefox 19+ */

:-moz-placeholder {
    font-family: 'Roboto Slab', Arial, sans-serif;
    color: #9c95a5;
    font-size: 16px;

}
/* Firefox 18- */

:-ms-input-placeholder {
    font-family: 'Roboto Slab', Arial, sans-serif;
    color: #949494;
    font-size: 16px;
}

/* Стилизация Header меню */
.main-menu {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	        align-items: center;
	padding: 16px 0 16px 30px;
}

.menu-list {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	        align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;	
	font-size: 14px;
	font-weight: bold;
}

.menu-list li > a {
	text-decoration: none;
	color: #000;
	padding: 8px 10px 8px 10px;
	background-color: transparent;
	border-radius: 5px;
}

.call-to-us {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	font-weight: bold;
	color: #2f1059;	
}

.call-to-us p {	
	font-size: 21px;
	padding: 0;
	margin: 0 12px 0 0;
	margin-bottom: 10px;
	text-align: center;
	word-wrap: normal;
}

.call-to-us a {	
	font-size: 14px;	
	text-decoration: none;
	margin: 0;
	border: 1px solid #2f1059;
	padding: 10px 12px 10px 12px;
	border-radius: 5px;
	line-height: 17px;
	text-align: center;
	color: #2f1059;
	word-wrap: normal;
}

.call-to-us a > span {
	margin-right: 8px;
}

/*Стилизация поведения меню*/

.call-to-us a:hover {
	background-color: #2f1059;
	color: #fff;
}

.menu-list a:hover {
	background-color: #f7f2fe;
}

.menu-list a:active {
	background-color: #d7d7d7;
	color: #2f1059;
}

/*Стизизация формы и фона*/

.background-form {
	background: url(../img/cloud.png) no-repeat 50% 35px,
				url(../img/backgroundjpg.jpg) no-repeat;
	background-size: auto, cover;
	padding: 64px 20px 0 20px;
	background-color: #99c2d6;
}

.background-form h1 {
	font-size: 43px;
	font-weight: bold;
	text-transform: uppercase;
	color: #2f1059;
	margin: 0 auto;
	text-align: center;
	line-height: 43px;
	margin: 0;
}

.background-text {
	font-size: 22px;
	color: #2f1059;
	margin: 0 auto;
	text-align: center;
	line-height: 28px;
	margin: 10px 0 17px 0;
	font-weight: lighter;
}

.text-form {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	align-content: center;
	margin-top: 250px;
	position: relative;
	z-index: 2;
}

.form-input-flex {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-pack: center;
	        justify-content: center;
	align-content: center;
}

.text-form h2 {
	text-align: center;
	color: #fff;
	font-size: 24px;
	line-height: 24px;
	margin: 0 auto;
	padding: 0;
}

.number-of-flat {
	font-size: 15px;
	margin: 0 auto;
	padding: 0;
	font-size: 15px;
	line-height: 15px;
	margin-top: 50px;
	color: #7925ec;
}

.number-of-flat span {
	border: 1px solid #7925ec;
	color: #7925ec;
	font-weight: bold;
	padding: 4px 7px;
	border-radius: 4px;
}

.text-for-flat {
	font-size: 17px;
	line-height: 25px;
	color: #fff;
	margin: 0 auto;
	padding: 0;
	margin-top: 8px;
	margin-bottom: 27px;
}

.form-input-flex input {
	width: 200px;
	height: 50px;
	background-color: #e8def5;
	border: 0;
	border-radius: 6px;
	margin-right: 8px;
	padding: 0 5px 0 45px;
}



.form-button {
	background-color: #d22828;
	border: 0;
	border-radius: 6px;
	font-family: inherit;
	font-weight: bold;
	color: #fff;
	padding: 12px 28px 12px 28px;
}

.form-button:hover {
	background-color: #a50d0d;
	color: #fff;
}

.form-button:active {
	background-color: #801010;
	color: #8d8d8d;
}

.for-form-position {
	position: relative;
}

.image-form {
	position: absolute;
	top: -290px;
	left: 50%;
	margin-left: -460px;
	z-index: 0;
}

.absolute-icon {
	position: absolute;
	left: 25px;
	color: #9c95a5;
	top: 16px;
}

/*Стилизация набора шаров. Секция 2*/

.balls {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	align-content: center;
	padding: 80px 20px 25px 20px;
}

.icon-ball {
	width: 160px;
	height: 150px;
	background: url(../img/ball.svg) no-repeat;	
	display: -webkit-box;	
	display: flex;
	display: row;
	-webkit-box-pack: center;
	        justify-content: center;
	align-content: center;
}

.icon-ball  p {
	font-size: 17px;
	line-height: 20px;
	width: 155px;
	text-align: center;
	margin: 55px 0 0 10px;
	padding: 0;
}

.icon-ball:last-child p {
	font-size: 15px;
	margin-top: 45px;
}

.icon-ball:nth-child(3) p {
	margin-top: 50px;
}

.icon-ball:nth-last-child(2) p {
	margin-top: 48px;
}

.icon-ball:nth-last-child(3) p {
	margin-top: 48px;
}

/*Позиционируем шары*/

.icon-ball:nth-child(1) {
	margin-top: 120px;
}

.icon-ball:nth-child(2) {
	margin-top: 54px;
}

.icon-ball:nth-child(5) {
	margin-top: 54px;
}

.icon-ball:nth-child(6) {
	margin-top: 120px;
}

/*Секция: финиш строительства*/

.date-of-finish {
	background: url(../img/background-violet.jpg) no-repeat;
	background-size: cover;
	position: relative;
	padding: 27px 20px 100px 20px;
}

.thump-up {
	position: absolute;
	bottom: -38px;
	left: 50%;
	margin-left: -71px;
}

.date-of-finish h3 {
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

.date-of-finish p {
	font-size: 20px;
	font-weight: lighter;
	color: #fff;
	padding: 0;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
}

/*Стилизация "Идеальное распложение" с фото*/

.ideal-position h2 {
	font-size: 37px;
	text-transform: uppercase;
	color: #000;
	margin: 0 auto;
	padding: 0;
	line-height: 44px;
	margin-top: 100px;
	text-align: center;
}

.ideal-desription {
	font-size: 20px;
	color: #000;
	margin: 0 auto;
	padding: 0;
	line-height: 44px;
	font-weight: lighter;
	text-align: center;
}

.image-shadow {
	-webkit-filter: drop-shadow(0px 0px 12px #b4b4b4);
	        filter: drop-shadow(0px 0px 12px #b4b4b4) 
}

.main-descr-image {
	font-size: 21px;
	color: #000;
	font-weight: bold;
	line-height: 23px;
	padding: 0;
	margin: 25px 0 0 0;
	text-align: center;
}

.low-descr-image {
	font-size: 15px;
	color: #000;
	font-weight: lighter;
	line-height: 23px;
	padding: 0;
	margin: 0;
	text-align: center;
}

.flex-one-card-image {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	align-content: center;
}

.flex-image-eco {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	align-content: center;
	margin-top: 65px;
}

.flex-image-eco div:nth-of-type(2) {
	margin-top: 30px;
}

/*Стилизация таблиц*/

.background-house-table {
	background: url(../img/background-house.jpg) no-repeat;
	background-size: cover;
	margin: 80px 0 0 0;
	padding: 76px 40px 80px 40px;
}

.background-house-table h2 {
	font-size: 37px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 auto;	
	text-align: center;
}

/*бахнем таблицу*/

.table-main {
	display: table;
	margin: 0 auto;
	padding: 0;
}

.table-caption {
	display: table-caption;
	font-size: 19px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.table-caption::after {
	content:'';
	background: url(../img/shadow-box.png);
	height: 37px;
	width: 336px;
	display: block;
	margin: 15px 0 0 -18px;
	padding: 0;
}

.margin-table {
	margin: -15px 0 0 0;
}
.table-for-row {
	display: table-row;
}

.table-for-row p {
	border-bottom: 1px solid #dae8da;
	padding: 10px 0 10px 0;
	margin: 0;
	font-size: 16px;
	font-weight: lighter;
}

.flex-table {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	        align-items: flex-start;
	margin: 70px 0 0 0;
}

/*Стилизация зеленной полосы*/

.green-wave {
	background: url(../img/background-green-box.png) no-repeat;
	background-size: cover;
	margin: -15px 0 0 0;
	padding: 25px 0 25px 0; 
}

.flex-circle-and-text {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	width: 375px;
}

.flex-circle-and-text:nth-child(2) {
	margin: 0 40px 0 40px;
	width: 310px;
}

.flex-circle-and-text p {
	font-size: 17px;
	font-weight: lighter;
	color: #fff;
	line-height: 20px;
	text-align: left;
	margin: 0 0 0 20px;
	padding: 0;
}

.flex-all-circle-text {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
}

.bold {
	font-weight: bold;
}

/*Стилизация секции ПРОДУМАННАЯ КОНСТРУКЦИЯ ДОМА*/

.new-construct {
	padding: 80px 70px 70px 70px;
}

.main-text-for-roof {
	font-size: 37px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 auto;
	text-align: center;
}

.text-for-mini-decrip {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	margin: 50px 0 0 0;
}

.text-for-mini-decrip p {
	width: 300px;
	font-size: 15px;
	font-weight: lighter;
	text-align: justify;
	padding: 0;
	margin: 28px 0 0 0;
	line-height: 22px;
}

.text-for-mini-decrip h4 {
	font-size: 22px;
	font-weight: bold;
	padding: 0;
	margin: 0 0 23px 0;
}

.flex-for-full-mini-descrip {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	        align-items: flex-start;
}

/*Стилизация секции "Комлектация"*/

.background-acrhitech {
	background: url(../img/background-green-arch.jpg) no-repeat;
	background-size: cover;
	padding: 75px 0 80px 0;
	color: #fff;
}

.for-green-row p {
	border-color: rgba(255,255,255,0.2);
}

.for-green-row span {
	margin-right: 6px;
}

.main-text-complect {
	font-size: 37px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.main-text-complect + p {
	font-size: 19px;
	font-weight: bold;
	line-height: 21px;
	margin: 65px 0 0 0;
	padding: 0 40px 0 40px;
}

.flex-table-green {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	        align-items: flex-start;
	margin: 40px 0 0 0;	
}

/*Стилизация секции с дипломом*/
.diploma {
	background: url(../img/background-diploma.jpg) no-repeat;
	background-size: cover;
	padding: 86px 0 75px 0;
}
.diploma h2 {
	font-size: 37px;
	font-weight: bold;
	margin: 0 auto;
	padding: 0;
	line-height: 44px;
	text-align: center;
}

.diploma p {
	font-size: 21px;
	font-weight: lighter;
	margin: 0 auto;
	padding: 0;
	line-height: 44px;
	text-align: center;
}

.flex-image-diploma {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	        align-items: flex-start;
	margin: 60px 70px 0 70px;
}

.flex-image-diploma img {	
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));	
	        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3))
}

/*Cтилизация подвала*/

.main-footer {
	background-color: #080808;
	padding: 24px 20px 24px 20px;
	color: #fff;
}

.copyright {
	width: 220px;
	font-size: 13px;
	font-weight: lighter;
}

.copyright span {
	font-weight: bold;
	text-decoration: underline;
}

.adress {
	font-size: 14px;
	font-weight: lighter;
	line-height: 14px;
	padding: 0;
	margin: 0;
}

.margin-for-adress {
	margin: 0 0 8px 0;
}

.fa-map-marker {
	margin-right: 8px;
}

.margin-location {
	margin-left: -16px;
}
.call-footer {
	color: #fff;
}

.call-footer a {
	color: #fff;
	border-color: #fff;
}

.call-footer a:hover {
	background-color: #fff;
	color: #000;
}

.flex-footer-info {
	display: -webkit-box;
	display: flex;	
	-webkit-box-orient: horizontal;	
	-webkit-box-direction: normal;	
	        flex-direction: row;
	-webkit-box-pack: justify;
	        justify-content: space-between;	
	-webkit-box-align: center;	
	        align-items: center;
	padding: 0 0 0 30px;
}